{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phones Galore</title>
</head>
<body> {% endcomment %}

    {%extends 'base.html'%}
    {%block content%}
    <h1>Phones Guy</h1>

    <p>Fix your phone, buy a phone, it's the phones guy!</p>
    {%endblock%}


    {% comment %} <footer>Copyright Phones Guy 2022</footer>
</body>
</html> {% endcomment %}