nav, .page-footer {
    background-color: grey;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}
  
footer {
    padding-top: 0;
    text-align: right;
} 

.indeximg {
    max-height: 6em;
}

.detailimg {
    /* max-height: 50vh; */
    max-width: 100%;
    margin-top: 1em;
}