{%extends 'base.html'%}
{%block content%}
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ phone.model }}</span>
        <p>{{ phone.manufacturer }}</p>
        <img class="detailimg" src="{{ phone.img }}" alt="{{phone.manufacturer}} {{phone.model}}">
      </div>
      <div class="card-action">
        <a href="{% url 'phones_update' phone.id %}">Edit</a>
        <a href="{% url 'phones_delete' phone.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">

    <form method="post" action="{% url 'add_item' phone.id %}">
      {%csrf_token%}
      {{ accessory_form.as_p }}
      <input type="submit" class="btn" value="Add Accessory">
    </form>
    {% if phone.has_a_charger and phone.has_a_case %}
      <div>Those who are very wise, always go home with a charger and case. - Confucius</div>
    {% elif phone.has_a_charger %}
      <div>You really need to get a case for your phone.</div>
    {% elif phone.has_a_case %}
      <div>You really need to get a charger for your phone.</div>
    {% else %}
      <div>You really should get a charger and a case for your phone.</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Accessory</th></tr>
      </thead>
      <tbody>
        {% for accessory in phone.accessory_set.all %}
          <tr>
            <td>{{accessory.date}}</td>
            <td>{{accessory.get_item_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% comment %} this is the panel at the bottom with bands and other stuff {% endcomment %}
<div class="row">
  <div class="col s6">
    <h5>{{phone.manufacturer}} {{phone.model}} <br> supported bands:</h5>
    {% if phone.bands.count %}
      {% for band in phone.bands.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <div>{{band.type}}</div>
          </span>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <h5>Your phone is too ghetto and doesn't support networks. Upgrade from the cup and string.</h5>
    {% endif %}
  </div>
{% comment %} phone's bands end  {% endcomment %}
{% comment %} available bands begin  {% endcomment %}
<div class="col s6">
  <h5>Unsupported Bands:</h5>
  {% if bands.count %}
    {% for band in bands.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <div>{{band.type}}</div>
        </span>
      </div>
      <div class="card-action">
        <form action="" method="post">
          {% csrf_token %}
          <button class="btn" type="submit">Add Band</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h4>{{phone.manufacturer}} {{phone.model}} supports all modern bands.</h4>
  {% endif %}
</div>
{% comment %} available bands end  {% endcomment %}
</div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_item');
  M.FormSelect.init(selectEl);

</script>
{%endblock%}